<div class="show-grocery-body">
  <div class="filter">
    <div ngbDropdown class="d-inline-block">
      <div style="margin-left: 1em" class="btn-group" ngbDropdown role="group">
        <button style="border-radius: 10em" class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
          Sort By
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem (click)="sortBy('desc')">
            Price: High to Low
          </button>
          <button ngbDropdownItem (click)="sortBy('asc')">
            Price: Low to High
          </button>
        </div>
      </div>

      <div style="margin-left: 1em" class="btn-group" ngbDropdown role="group">
        <button style="border-radius: 10em" class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
          Rating
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem (click)="rating(0)">Clear Filter</button>
          <div *ngFor="let rate of [4, 3, 2, 1]">
            <button ngbDropdownItem (click)="rating(rate)">
              <ngb-rating [readonly]="true" [max]="5" [rate]="rate"></ngb-rating>
              <span style="font-size: 0.8em; color: gray"> & up</span>
            </button>
          </div>
        </div>
      </div>

      <div style="margin-left: 1em" class="btn-group" ngbDropdown role="group">
        <button style="border-radius: 10em" class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
          Special Discounts
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem (click)="discounts(0)">Clear Filter</button>
          <div *ngFor="let rate of [10, 30, 50, 60, 70]">
            <button ngbDropdownItem (click)="discounts(rate)">
              {{ rate }}%
              <span style="font-size: 0.8em; color: gray"> & up</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="groceries">
    List
  </div>
</div>
