

  .stat-card {
    border-radius: 1em;
    box-shadow: 0 0 10px #0000001a;
    display: inline-block;
    margin: 0 0.5em;
  }

.order-line-chart {
  margin-right: 1em;
}

.chart-card {
  border-radius: 1em;
  padding: 0.3em 0.5em;
  height: 25em;
  box-shadow: 0 0 10px #0000001a;
}
